# AWS
REGION=
ACCOUNT_ID=

# Networking
VPC_ID=
PUBLIC_SUBNET=
SUBNET_PUBLIC_2=
SUBNET_PRIVATE_1=
SUBNET_PRIVATE_2=
IGW_ID=
APP_SUBNET=
DB_SUBNET_A=
DB_SUBNET_B=

# Security Groups
SG_ALB=
SG_APP=
SG_DB=

# CloudTrail
TRAIL_NAME=
CLOUDTRAIL_BUCKET=
LOG_GROUP=

# IAM
EC2_ROLE=
INSTANCE_PROFILE=

# POLICY
$POLICY_ARN=

# Access Analyzer
ANALYZER_NAME=

# Config
CONFIG_BUCKET=
CONFIG_RECORDER=

# Certificate
CERT_PATH=
KEY_PATH=